.actions {
    display: grid;
    grid-template-rows: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    padding: 20px;
}

#action1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

#action2 {
    grid-row: 3 / 4;
    grid-column: 3 / 6;
}

#action3 {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
}

/* .action {
    display: flex;
    flex-direction:column;

    justify-content: center;
    padding-left: 5em;
    padding-right: 5em;
    color: black;
}  

@keyframes fadeAction {
    from {opacity: 0;}
    to {opacity: 1;}
}

.action > h1, .action > h2 {
    padding-top: 3em;
}

.action > h1 {
    animation: 10s fadeAction ease;
}

.action > h2 {
    animation: 14s fadeAction ease;
} */

#home {
    display: flex;
    justify-content: center;
}