/* inspired by https://stackblitz.com/edit/react-tag-cloud?file=App.js */
.center {
    display:flex;
    flex-direction: column;
}

.app-outer {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center; 
    position: absolute;
	bottom: 0;
	right: 0;
    top: 0;  
	left: 0;
	padding: 150px 0;  
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
    width: 100%;
    max-width: 1000px;
    background-color: black;
}

.tag-cloud {
    flex: 1;
    
}

.tag-cloud > div {
	transition: 1.4s;
}

.tag-item-wrapper {
    cursor: pointer;
}
