/* inspired by https://stackblitz.com/edit/react-tag-cloud?file=App.js */
.center {
    display:flex;
    flex-direction: column;
}

.app-outer {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center; 
    position: absolute;
	bottom: 30%;
	right: 15%;
    top: 25%;  
    left: 15%; 
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
    width: 100%;
    max-width: 1000px;
    cursor: default;
}

.tag-cloud {
    flex: 1;
}

.button {
    padding-top: 28rem;  
    top: 80%;
    bottom: 10%;
}

.tag-cloud > div {
	transition: 1.4s;
}

#continue-to-ring {
    background-color: #2a2d2d;
    border-color: grey;
    color: white;
}

