.finish {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-left: 5em;
    padding-right: 5em;
    background-color: black;
    color: white;
}  

@keyframes fadeFinish {
    from {opacity: 0;}
    to {opacity: 1;}
}

.finish > h1, .finish > h2, .finish > p {
    padding-top: 3em;
}

.finish > h1 {
    animation: 10s fadeFinish ease;
}

.finish > h2 {
    animation: 14s fadeFinish ease;
}

.finish > h3 {
    animation: 17s fadeFinish ease;
}

.finish > p, .fade-button {
    animation: 20s fadeFinish ease;
}


