.finish {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #253b56;
    background-image: url('/images/breakdown-finish.jpeg');
    background-position: center, center;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
} 

.finishFadeIn {
    -webkit-animation: finishFadeIn 6s ease 1 alternate; 
    animation: finishFadeIn 6s ease 1 alternate;
}
  
@keyframes finishFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.transparentFinish {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background:rgba(0,0,0,0.5);
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

@keyframes fadeFinish {
    from {opacity: 0;}
    to {opacity: 1;}
}

.transparentFinish > h1 {
    animation: 7s fadeFinish ease;
    margin-bottom: 5rem;
}

.transparentFinish > h2 {
    animation: 7s fadeFinish ease;
}

.transparentFinish > h3 {
    animation: 10s fadeFinish ease;
    margin-top: 5rem;
}

.transparentFinish #begin-button {
    animation: 10s fadeFinish ease;
}