.question {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#input {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.25rem;
  padding: 3em;
  font-size: 2em;
}

textarea {
  background-color:black;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-width: 2px;
  border-top-width: 2px;
  border-color: lightgoldenrodyellow;
  color: white;
}

textarea:focus {
  outline: none;
}

#continue {
  background-color: lightgoldenrodyellow;
}

.space {
  padding-bottom: 1em;
}

/* idea from https://jsfiddle.net/gionaf/SNycF/ */

.questionFadeIn {
  -webkit-animation: questionFadeIn 10s ease 1 alternate; 
  animation: questionFadeIn 10s ease 1 alternate;
}

@keyframes questionFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes questionFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

