#mind-question {
  display: grid;
  grid-template-rows: 1fr 80%;
  grid-template-columns: 100%;
  grid-gap: 20px;
  padding: 20px;
  background-image: url('images/breakdown-question.jpeg');
  background-position: center, center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#question {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#textbox {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

textarea {
  display: flex;
  background-color: #ffe199;
  border-width: 2px;
  border-color: black;
  color: black;
  width: 25em;
  height: 10em;
}

@media screen and (max-width: 850px) {
  textarea {
    width: 15em;
    height: 10em;
  }
}

@media screen and (max-width: 450px) {
  textarea {
    width: 10em;
    height: 10em;
  }
}

@media screen and (max-width: 350px) {
  textarea {
    width: 7em;
    height: 8em;
  }
}

textarea:focus {
  outline: none;
}

@media screen and (min-width: 1000px) {
  #input{
    padding-top: 5rem;
  }
}

/* idea from https://jsfiddle.net/gionaf/SNycF/ */
.questionFadeIn {
  animation: questionFadeIn 8s ease 1 alternate;
}

@keyframes questionFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.inAppNav {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.inAppNav img:hover {
    background: white;
    opacity: 0.25;
    border-radius: 0.25rem;
}

@media screen and (max-width: 830px) {
  .inAppNav {
    display: none;
  }
}


