.breathe {
    color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    margin: 0, 0, 300px, 0;
}

.textFadingEffect {
    -webkit-animation: textFadeIn 10s ease 6s 1 alternate; 
    animation: textFadeIn 10s ease 6s 1 alternate;
}

@keyframes textFadeIn {
    0% {color:black; opacity:1;}
    50% {color: white; opacity:1;}
    100% {color:black; opacity:0;}
}

@-webkit-keyframes textFadeIn {
    0% {color:black; opacity:1;}
    50% {color: white; opacity:1;}
    100% {color:black; opacity:0;}
}

/* idea from https://jsfiddle.net/gionaf/SNycF/ */
.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:black;
    -webkit-animation: fadeIn 8s ease 1 alternate; 
    animation: fadeIn 8s ease 1 alternate;
}

@keyframes fadeIn{
    from {background:white;}
    to {background: black;}
}
  
@-webkit-keyframes fadeIn {
    from {background: white;}
    to {background: black;}
}


/* adapted from http://cssdeck.com/labs/vpfhbyk6 */
.pulsatingCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.circle{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    width:500px;
    height:500px;
    border:25px solid lightgoldenrodyellow;
    opacity:0;
    /* rate of inflation/deflation */
    animation:9s pulseIn 10s ease-in-out 10 alternate;
    -webkit-animation:9s pulseIn 10s ease-in-out 10 alternate	
}

@keyframes pulseIn{
    0%{
        opacity:0.5;
        transform:scale(0.1,0.1);
    }
    50%{
        opacity:1;
        transform:scale(1,1);
    }
    100%{
        opacity:0.5;
        transform:scale(0.1,0.1);
    }
}

@-webkit-keyframes pulseIn{
    0%{
        opacity:0.5;
        -webkit-transform:scale(0.1,0.1);
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1,1);
    }
    100%{
        opacity:0.5;
        -webkit-transform:scale(0.1,0.1);
    }
}
