.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    margin: 0, 0, 300px, 0;
}

.textFadingEffect {
    -webkit-animation: textFadeIn 10s ease 6s 1 alternate; 
    animation: textFadeIn 10s ease 6s 1 alternate;
}

@keyframes textFadeIn {
    0% {color:black; opacity:1;}
    50% {color: white; opacity:1;}
    100% {color:black; opacity:0;}
}

@-webkit-keyframes textFadeIn {
    0% {color:black; opacity:1;}
    50% {color: white; opacity:1;}
    100% {color:black; opacity:0;}
}

/* idea from https://jsfiddle.net/gionaf/SNycF/ */
.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:black;
    -webkit-animation: fadeIn 8s ease 1 alternate; 
    animation: fadeIn 8s ease 1 alternate;
}

@keyframes fadeIn{
    from {background:white;}
    to {background: black;}
}
  
@-webkit-keyframes fadeIn {
    from {background: white;}
    to {background: black;}
}


/* adapted from http://cssdeck.com/labs/vpfhbyk6 */
.pulsatingCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* breathing circle */
#yellowCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border-radius:50%;
    width:500px;
    height:500px;
    opacity:0;
    /* rate of inflation/deflation */
    animation:9s pulseIn 10s ease-in-out 10 alternate;
    -webkit-animation:9s pulseIn 10s ease-in-out 10 alternate	
}

@keyframes pulseIn{
    0%{
        opacity:0.5;
        transform:scale(0.1,0.1);
        border:25px solid lightgoldenrodyellow;
    }
    50%{
        opacity:1;
        transform:scale(1,1);
        border:25px solid lightgoldenrodyellow;
    }
    100%{
        opacity:0.5;
        transform:scale(0.1,0.1);
        border:25px solid lightgoldenrodyellow;
    }
}

@-webkit-keyframes pulseIn{
    0%{
        opacity:0.5;
        -webkit-transform:scale(0.1,0.1);
        border:25px solid lightgoldenrodyellow;
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1,1);
        border:25px solid lightgoldenrodyellow;
    }
    100%{
        opacity:0.5;
        -webkit-transform:scale(0.1,0.1);
        border:25px solid lightgoldenrodyellow;
    }
}

/* breathe out circle */
#fireCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border-radius:50%;
    width:500px;
    height:500px;
    opacity:0;
    /* rate of inflation/deflation */
    animation:4.5s firePulseIn 10s ease-in-out 20 alternate;
    -webkit-animation:4.5s firePulseIn 10s ease-in-out 20 alternate	
}

@keyframes firePulseIn{
    0% {
        opacity:0.5;
        -webkit-transform:scale(0.1,0.1);
        border:25px solid white;
    }
    50% {
        opacity:1;
        border:25px solid orange;
    }
    100% {
        opacity:1;
        -webkit-transform:scale(1,1);
        border:25px solid orangered;
    }
}

@-webkit-keyframes firePulseIn{
    0% {
        opacity:0.5;
        -webkit-transform:scale(0.1,0.1);
        border:25px solid white;
    }
    50% {
        opacity:1;
        border:25px solid orange;
    }
    100% {
        opacity:1;
        -webkit-transform:scale(1,1);
        border:25px solid orangered;
    }
}

/* fade words in ring inspired by https://www.competa.com/blog/changing-words-with-css-animation/ */
.animated-words {
    display: inline-block;
}

.animated-words span {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    color: black;
    -webkit-animation: animateWord 9s linear 14.5s;
    animation: animateWord 9s linear 14.5s;
}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 23s;  
    animation-delay: 23s; 
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 32s; 
    animation-delay: 32s; 
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 41s; 
    animation-delay: 41s; 
}

@keyframes animateWord {
    0% { color: white; opacity: 1; }
    100% { color: black; opacity: 0; }
}

@-webkit-keyframes animateWord {
    0% { color: white; opacity: 1; }
    100% { color: black; opacity: 0; }
}
