.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.textFadingEffect {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.textFadingEffect span {
    color: black;
    margin: 0, 0, 300px, 0;
    left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    color: black;
    -webkit-animation: textFadeIn 8s ease 6s 1 alternate; 
    animation: textFadeIn 8s ease 6s 1 alternate;
}

.textFadingEffect span:nth-child(2) { 
    -webkit-animation-delay: 13s;  
    animation-delay: 13s; 
}
.textFadingEffect span:nth-child(3) { 
    -webkit-animation-delay: 19s; 
    animation-delay: 19s; 
}

@keyframes textFadeIn {
    0% {color:black; opacity:1;}
    50% {color: white; opacity:1;}
    100% {color:black; opacity:0;}
}

@-webkit-keyframes textFadeIn {
    0% {color:black; opacity:1;}
    50% {color: white; opacity:1;}
    100% {color:black; opacity:0;}
}

/* idea from https://jsfiddle.net/gionaf/SNycF/ */
.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:black;
    -webkit-animation: fadeIn 8s ease 1 alternate; 
    animation: fadeIn 8s ease 1 alternate;
}

@keyframes fadeIn{
    from {background:white;}
    to {background: black;}
}
  
@-webkit-keyframes fadeIn {
    from {background: white;}
    to {background: black;}
}


/* adapted from http://cssdeck.com/labs/vpfhbyk6 */
.pulsatingCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* breathing circle */
#yellowCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border-radius:50%;
    width:500px;
    height:500px;
    opacity:0;
    border:25px solid lightgoldenrodyellow;
    /* rate of inflation/deflation */
    animation:9s pulseIn 10s ease-in-out 10 alternate;
}

@keyframes pulseIn{
    0%{
        opacity:0.5;
        transform:scale(0.1,0.1);
    }
    50%{
        opacity:1;
        transform:scale(1,1);
    }
    100%{
        opacity:0.5;
        transform:scale(0.1,0.1);
    }
}

/* breathe out circle */
#fireCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border-radius:50%;
    width:500px;
    height:500px;
    opacity:0;
    border:25px solid lightgoldenrodyellow;
    /* rate of inflation/deflation */
    animation:4.5s firePulseIn 10s ease-in-out 22 alternate;
}

@keyframes firePulseIn{
    0% {
        opacity:0.5;
        transform:scale(0.1,0.1);
        border-color: lightgoldenrodyellow;
    }
    50% {
        opacity:1;
        border-color: orange;
    }
    100% {
        opacity:1;
        transform:scale(1,1);
        border-color: orangered;
    }
}

/* breath-in-circle */
#calmCircle{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border-radius:50%;
    width:500px;
    height:500px;
    opacity:0;
    border:25px solid lightgoldenrodyellow;
    /* rate of inflation/deflation */
    animation:4.5s calmPulseIn 10s ease-in-out 22 alternate;
}

@keyframes calmPulseIn{
    0% {
        opacity:0.5;
        transform:scale(0.1,0.1);
        border-color:lightgoldenrodyellow;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:1;
        transform:scale(1,1);
        border-color: lightgreen;
    }
}

/* fade words in ring inspired by https://www.competa.com/blog/changing-words-with-css-animation/ */
.fire-animated-words {
    display: inline-block;
}

.fire-animated-words span {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    color: black;
    -webkit-animation: animateFireWord 9s linear 14.5s;
    animation: animateFireWord 9s linear 14.5s;
}

.fire-animated-words span:nth-child(1) { 
    -webkit-animation-delay: 23.5s;  
    animation-delay: 23.5s; 
}
.fire-animated-words span:nth-child(2) { 
    -webkit-animation-delay: 41.5s;  
    animation-delay: 41.5s; 
}
.fire-animated-words span:nth-child(3) { 
    -webkit-animation-delay: 59.5s; 
    animation-delay: 59.5s; 
}
.fire-animated-words span:nth-child(4) { 
    -webkit-animation-delay: 77.5s; 
    animation-delay: 77.5s; 
}
.fire-animated-words span:nth-child(5) { 
    -webkit-animation-delay: 95.5s; 
    animation-delay: 95.5s; 
}

@keyframes animateFireWord {
    0% { color: white; opacity: 1; }
    100% { color: black; opacity: 0; }
}

@-webkit-keyframes animateFireWord {
    0% { color: white; opacity: 1; }
    100% { color: black; opacity: 0; }
}

/* calm animated words */
.calm-animated-words {
    display: inline-block;
}

.calm-animated-words span {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    color: black;
    -webkit-animation: animateCalmWord 14s linear 10s;
    animation: animateCalmWord 15s linear 10s;
}

.calm-animated-words span:nth-child(1) { 
    -webkit-animation-delay: 19s;  
    animation-delay: 19s; 
}
.calm-animated-words span:nth-child(2) { 
    -webkit-animation-delay: 37s;  
    animation-delay: 37s; 
}
.calm-animated-words span:nth-child(3) { 
    -webkit-animation-delay: 55s; 
    animation-delay: 55s; 
}
.calm-animated-words span:nth-child(4) { 
    -webkit-animation-delay: 73s; 
    animation-delay: 73s; 
}
.calm-animated-words span:nth-child(5) { 
    -webkit-animation-delay: 91s; 
    animation-delay: 91s; 
}

@keyframes animateCalmWord {
    0% { color: white; opacity: 1; }
    100% { color: black; opacity: 0.5; }
}

@-webkit-keyframes animateCalmWord {
    0% { color: white; opacity: 1; }
    100% { color: black; opacity: 0.5;}
}

/* inspired by https://codepen.io/artboardartisan/pen/VLzKVN */
.bar {
    background: #2a2d2d;
    max-width: 33%;
    border-radius: 0.25rem;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;
    opacity: 0;  
}

.bar > span {
    display: block;
}

@keyframes showBar {
	0% {
        opacity: 0;
	}
    2% {
        opacity:1;
    }
	100% {
        opacity:1;
    }
}

.progress {
  background: black;
  color: darkgrey;
  padding: 5px;
  width: 0;
}

#progress-bar {
    background-color: darkgrey;
}

@keyframes loader {
	0% {
        opacity: 0;
		width: 0;
	}
    5% {
        opacity:1;
    }
	100% {
		width: 100%;
	}

}

.skip {
    color: darkgrey;
}

.skip:hover {
    color: #2a2d2d;
}
