.white {
    background-color: white;
}

.home {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 1.5em;
}

#begin-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 200px;
}

p {
    font-size: 1.25rem;
}
