.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* inspired by https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



